<header class="header">
  <div class="container header__container">
    <a href="./#home" class="logo">
      <span class="logo__text">Zephyx<span>Drivex</span></span>
    </a>

    <nav class="nav" id="nav-menu">
      <ul class="nav__list">
        <li class="nav__item"><a href="./#home" class="nav__link">Главная</a></li>
        <li class="nav__item"><a href="./#platform" class="nav__link">Платформа</a></li>
        <li class="nav__item"><a href="./#benefits" class="nav__link">Преимущества</a></li>
        <li class="nav__item"><a href="./#innovations" class="nav__link">Инновации</a></li>
        <li class="nav__item"><a href="./#blog" class="nav__link">Обучение</a></li>
        <li class="nav__item nav__item--mobile">
          <a href="./#contact" class="btn btn--primary">Запросить доступ</a>
        </li>
      </ul>
    </nav>

    <a href="./#contact" class="btn btn--header">Запросить доступ</a>

    <button class="burger" id="burger-menu" aria-label="Открыть меню">
      <span class="burger__line"></span>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
    </button>
  </div>
</header>